<h2>{%= spec %}
{% if (isTrue) { %} ✅
{% } else if (isFalse) { %} ❌
{% } else { %} ❔ {% } %}
</h2>

{% if (tbody) { %}
<vscode-table zebra bordered-rows resizable columns='["10%", "90%"]' min-column-width="5px">
<vscode-table-header slot="header">
<vscode-table-header-cell >#</vscode-table-header-cell >
<vscode-table-header-cell >Changed Variables</vscode-table-header-cell >
</vscode-table-header>
<vscode-table-body slot="body" id="steps">
    {%- tbody %}
</vscode-table-body>
</vscode-table>
{% } %}

<div>
    <vscode-collapsible heading="Full output">
        <pre>{%= output %}</pre>
    </vscode-collapsible>
</div>